{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/leftbar.css' %}">

<div class="left-bar mt-5">
    <div class="list-group">
        <a class="list-group-item list-group-item-action" href="/fishes">Balıklar</a>
        <a class="list-group-item list-group-item-action" href="/hunting-grounds">Av Bölgeleri</a>
        <a class="list-group-item list-group-item-action" href="/map">Meralar</a>
        <a class="list-group-item list-group-item-action" href="/season">Av Dönemleri</a>
        <a class="list-group-item list-group-item-action" href="/sizes">Avlanabilir Balık Boyları</a>
        <a class="list-group-item list-group-item-action" href="/guide">Rehber Yazılar</a>
    </div>
</div>
