{% extends "base.html" %}
{% load static %}

{% block title %} Av Dönemleri {% endblock %}

{% block content %}
<br>
<br>
<br>

<h2> Tuzlu Su Balıkları Av Dönemleri Tablosu</h2>
<hr>

<p>
  K: KARADENİZ
  <br>
  E: EGE
  <br>
  A: AKDENİZ
  <br>
  M: MARMARA
</p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Ocak</th>
      <th scope="col">Şubat</th>
      <th scope="col">Mart</th>
      <th scope="col">Nisan</th>
      <th scope="col">Mayıs</th>
      <th scope="col">Haziran</th>
      <th scope="col">Temmuz</th>
      <th scope="col">Ağustos</th>
      <th scope="col">Eylül</th>
      <th scope="col">Ekim</th>
      <th scope="col">Kasım</th>
      <th scope="col">Aralık</th>
      <th scope="col">BÖLGELER</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Levrek</th>
      <td class="text-center"></td>
      <td class="text-center">+</td>
      <td class="text-center">+</td>
      <td class="text-center">+</td>
      <td class="text-center">+</td>
      <td class="text-center">+</td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center">K A M E</td>
    </tr>
    <tr>
      <th scope="row">Eşkina</th>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center">+</td>
      <td class="text-center">+</td>
      <td class="text-center">+</td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center">K M</td>
    </tr>
    <tr>
      <th scope="row">Palamut</th>
      <td class="text-center">+</td>
      <td class="text-center">+</td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center">+</td>
      <td class="text-center">+</td>
      <td class="text-center">+</td>
      <td class="text-center">+</td>
      <td class="text-center">K M</td>
    </tr>
    <tr>
      <th scope="row">Hamsi</th>
      <td class="text-center">+</td>
      <td class="text-center">+</td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center">+</td>
      <td class="text-center">+</td>
      <td class="text-center">K M</td>
    </tr>
    <tr>
      <th scope="row">İstavrit</th>
      <td class="text-center">+</td>
      <td class="text-center">+</td>
      <td class="text-center">+</td>
      <td class="text-center">+</td>
      <td class="text-center">+</td>
      <td class="text-center">+</td>
      <td class="text-center">+</td>
      <td class="text-center">+</td>
      <td class="text-center">+</td>
      <td class="text-center">+</td>
      <td class="text-center">+</td>
      <td class="text-center">+</td>
      <td class="text-center">K A M E</td>
    </tr>
  </tbody>
</table>

<br>
<br>

<h2> Tatlı Su Balıkları Av Dönemleri Tablosu</h2>
<hr>
<br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Ocak</th>
      <th scope="col">Şubat</th>
      <th scope="col">Mart</th>
      <th scope="col">Nisan</th>
      <th scope="col">Mayıs</th>
      <th scope="col">Haziran</th>
      <th scope="col">Temmuz</th>
      <th scope="col">Ağustos</th>
      <th scope="col">Eylül</th>
      <th scope="col">Ekim</th>
      <th scope="col">Kasım</th>
      <th scope="col">Aralık</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Sazan</th>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center">+</td>
      <td class="text-center">+</td>
      <td class="text-center">+</td>
      <td class="text-center">+</td>
      <td class="text-center"></td>
    </tr>
    <tr>
      <th scope="row">Alabalık</th>
      <td class="text-center">+</td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center">+</td>
      <td class="text-center">+</td>
    </tr>
    <tr>
      <th scope="row">Palamut</th>
      <td class="text-center">+</td>
      <td class="text-center">+</td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center">+</td>
      <td class="text-center">+</td>
      <td class="text-center">+</td>
      <td class="text-center">+</td>
    </tr>
    <tr>
      <th scope="row">Turna</th>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center">+</td>
      <td class="text-center">+</td>
    </tr>
    <tr>
      <th scope="row">Yayın</th>
      <td class="text-center">+</td>
      <td class="text-center">+</td>
      <td class="text-center">+</td>
      <td class="text-center">+</td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center">+</td>
      <td class="text-center">+</td>
      <td class="text-center">+</td>
    </tr>
  </tbody>
</table>
{% endblock %}