{% extends "base.html" %}
{% load static %}

{% block title %} Asgari Boylar {% endblock %}

{% block content %}
<br>
<br>
<br>
<h2> Tuzlu Su Balıkları Avlanabilir Boy Tablosu </h2>
<hr>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Tür</th>
      <th scope="col">Latince Adı</th>
      <th scope="col">Asgari Boy (cm)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Levrek</th>
      <td>Dicentrarchus labrax</td>
      <td>25</td>
    </tr>
    <tr>
      <th scope="row">Eşkina</th>
      <td>Scia naumbra</td>
      <td>25</td>
    </tr>
    <tr>
      <th scope="row">Hamsi</th>
      <td>Engraulis encrasicolus</td>
      <td>9</td>
    </tr>
    <tr>
      <th scope="row">Akya</th>
      <td>Lichiaamia</td>
      <td>40</td>
    </tr>
    <tr>
      <th scope="row">Barbunya</th>
      <td>Mullus barbatus</td>
      <td>13</td>
    </tr>
    <tr>
      <th scope="row">İstavrit</th>
      <td>Trachurus trachurus</td>
      <td>13</td>
    </tr>
    <tr>
      <th scope="row">Kalkan</th>
      <td>Psetta maxima</td>
      <td>45</td>
    </tr>
    <tr>
      <th scope="row">Karagöz</th>
      <td>Diplodus vulgaris</td>
      <td>18</td>
    </tr>
    <tr>
      <th scope="row">Kefal</th>
      <td>Mugil cephalus</td>
      <td>30</td>
    </tr>
    <tr>
      <th scope="row">Kılıç</th>
      <td>Xiphias gladius</td>
      <td>125</td>
    </tr>
    <tr>
      <th scope="row">Lüfer</th>
      <td>Pomatomus saltatrix</td>
      <td>18</td>
    </tr>
    <tr>
      <th scope="row">Palamut</th>
      <td>Sarda sarda</td>
      <td>25</td>
    </tr>
    <tr>
      <th scope="row">Tekir</th>
      <td>Mullus surmuletus</td>
      <td>11</td>
    </tr>
  </tbody>
</table>

<h2> Tatlı Su Balıkları Avlanabilir Boy Tablosu </h2>
<hr>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Tür</th>
      <th scope="col">Latince Adı</th>
      <th scope="col">Asgari Boy (cm)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Alabalık</th>
      <td>Salmo macrostigma</td>
      <td>25</td>
    </tr>
    <tr>
      <th scope="row">İnci Kefali</th>
      <td>Alburnus tarichi</td>
      <td>18</td>
    </tr>
    <tr>
      <th scope="row">Sazan</th>
      <td>Cyprinus carpio</td>
      <td>40</td>
    </tr>
    <tr>
      <th scope="row">Kefal</th>
      <td>Leuciscus cephalus</td>
      <td>20</td>
    </tr>
    <tr>
      <th scope="row">Turna</th>
      <td>Esox lucius</td>
      <td>40</td>
    </tr>
    <tr>
      <th scope="row">Yayın</th>
      <td>Silurus glanis</td>
      <td>90</td>
    </tr>
  </tbody>
</table>
{% endblock %}