{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meralar | Balık Akademisi</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
{% include 'partials/_navbar.html' %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            {% include 'partials/_leftbar.html' %}
        </div>
        <div class="col-md-9">
            <br>
            <br>
            <br>

            <h1> Meralar </h1>
            <hr>

            <p>İşaretli bölgelerden seçim yapabilir, üzerine tıklayarak yol tarifi alabilirsiniz</p>
            <div id="harita" style="width: 100%; height: 400px;"></div>
            <script src="{% static 'js/map.js' %}"></script>
        </div>
    </div>
</div>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
</body>
</html>